{:deps {io.github.nextjournal/clerk {:git/sha "ff2bf8b0b5d596286fb1d22408b14456fee2dbf7"}
        lambdaisland/kaocha {:mvn/version "1.66.1034"}}
 :aliases
 {:dev {:extra-paths ["dev"]}
  :test {:extra-deps {nubank/matcher-combinators {:mvn/version "3.3.1"}}
         :extra-paths ["test" "dev"]
         :exec-fn user/exec-fn}}}
